KanjiApp/KanjiApp/KanjiApp.Android/Properties/AssemblyInfo - Copy.cs
KanjiApp/.vs/KanjiApp/v15/Server/sqlite3/storage.ide-wal
KanjiApp/.vs/VSWorkspaceState.json
KanjiApp/.vs/slnx.sqlite
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/FormsViewGroup.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/KanjiApp.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/Rg.Plugins.Popup.Droid.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/Xamarin.Forms.Core.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/Xamarin.Forms.Platform.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/Xamarin.Forms.Xaml.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/com.companyname.KanjiApp-Signed.apk
KanjiApp/KanjiApp/KanjiApp.Android/bin/Debug/com.companyname.KanjiApp.apk
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/FormsViewGroup.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/KanjiApp.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/Rg.Plugins.Popup.Droid.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/Xamarin.Forms.Core.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/Xamarin.Forms.Platform.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/Xamarin.Forms.Xaml.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp-Signed.apk
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/143b08c3f15a490fb09ba5b306ee5b4d/KanjiApp.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/173f39d71f0d4d928f5bbea42e96ffa8/Xamarin.Forms.Platform.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/182db72c19df4b0082953f04c7e0f2a0/Rg.Plugins.Popup.Droid.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/3754ae802c714b298131b9c985b370ad/Xamarin.Forms.Core.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/9b97ab8cd3b047af874b8b8ecd89cef2/FormsViewGroup.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/bab64add78c24e9d86626275cac66842/Xamarin.Forms.Xaml.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/bin/Release/com.companyname.KanjiApp.apk.mSYM/manifest.xml
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/Component.R.cs.flag
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/ENU7N15A20003725.deployment
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/KanjiApp.Android.csproj.CopyComplete
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/KanjiApp.Android.csproj.FileListAbsolute.txt
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/R.cs.flag
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/_dex_stamp
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/_javac.stamp
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/acw-map.txt
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/AndroidManifest.xml
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/FormsViewGroup.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/KanjiApp.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/Rg.Plugins.Popup.Droid.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/Xamarin.Forms.Core.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/Xamarin.Forms.Platform.Android.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/Xamarin.Forms.Xaml.dll.mdb
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/assets/machine.config
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes.dex
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes.zip
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$anim.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$animator.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$attr.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$bool.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$color.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$dimen.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$drawable.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$id.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$integer.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$interpolator.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$layout.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$raw.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$string.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$style.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R$styleable.class
KanjiApp/KanjiApp/KanjiApp.Android/obj/Debug/android/bin/classes/android/support/design/R.class
